html, body {
  margin: 0; 
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiden {
  z-index: -999;
  opacity: 0;
}

.show {
  z-index: 999;
  opacity: 1;
}

.cnt {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("img/main-bg.png");
  background-position: center;
  background-size: cover;
}

.nav {
  width: 100%;
  padding: 2% 0;
}

.content {
  height: 50vh;
  widows: 100%;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  background-image: url("img/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.menu {
  width: 60%;
  height: 60px;
  padding: 0;
  margin-left: 15px;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  width: 20%;
  height: 60px;
  font-size: 0.8em;
}

.img-logo {
  background-image: url("img/img-logo.png");
  background-position: center;
  background-repeat: no-repeat;
}

.text-logo {
  width: 40%;
  height: 70px;
  margin-top: 60px;
  background-image: url("img/text-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn {
  width: 20%;
  height: 40px;
  margin-top: 60px;
  color: #fff;
  border-radius: 25px;
  font-weight: 600;
  letter-spacing: 2.5px;
  border: none;
  background: rgba(221,191,92,1);
  background: -moz-linear-gradient(left, rgba(221,191,92,1) 0%, rgba(255,184,3,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,191,92,1)), color-stop(100%, rgba(255,184,3,1)));
  background: -webkit-linear-gradient(left, rgba(221,191,92,1) 0%, rgba(255,184,3,1) 100%);
  background: -o-linear-gradient(left, rgba(221,191,92,1) 0%, rgba(255,184,3,1) 100%);
  background: -ms-linear-gradient(left, rgba(221,191,92,1) 0%, rgba(255,184,3,1) 100%);
  background: linear-gradient(to right, rgba(221,191,92,1) 0%, rgba(255,184,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddbf5c', endColorstr='#ffb803', GradientType=1 );
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
}

.btn:focus, .input:focus {
  outline: none;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: url("img/overlay.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.6s ease-out;
}

.pop-up {
  background-color: #fff;
  width: 28%;
  height: 45vh;
  flex-direction: column;
  justify-content: space-around;
}

.pop-up-header {
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 0.9em;
  color: #292D2F;
}

.pop-up-form {
  flex-direction: column;
  width: 100%;
}

.input {
  border: none;
  border-bottom: solid 1px #111;
  text-align: center;
  width: 70%;
  padding: 10px 0;
  font-size: 0.7em;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
}

.input:nth-child(1) {
  margin-bottom: 25px;
}

.submit {
  width: 70%;
  box-shadow: none;
}

.footer-text {
  width: 20%;
  height: 10px;
  font-size: 0.6em;
  text-align: center;
  align-self: center;
  color: #999;
}

.text-left {
  text-transform: uppercase;
  cursor: default;
  width: 25%;
  height: 35px;
}

.text-center {
  height: 35px;
  cursor: pointer;
}

.text-right {
  width: 25%;
  height: 35px;
}

.text-right span {
  color: #fff;
  font-weight: 600;
}